*{
    font-size:20px;
}
#maintable {
    margin-top:60px;
}
#maintable tbody td div{
    margin-left:20px;
}
    #maintable a {
        color: white;
        text-decoration: none;
    }
#maintable .bestsales{
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: #0026ff
}

    #maintable .bestsales:hover {
        margin: 10px;
        padding: 10px;
        background-color: #00ffff
    }
#maintable .all {
    margin:10px;
    padding: 10px;
    background-color: #0026ff
}
    #maintable .all:hover  {
        margin: 10px;
        padding: 10px;
        background-color: #00ffff
    }
