form {
    margin-top: 80px;
}

table td {
}

body {
    font-size: 20px;
}

#main p {
    text-align: justify;
    display: inline-block;
    width: 50%;
}

table input[type=text], input[type=email], input[type=tel], input[type=password], select:not(.ngaysinh) {
    border: solid 1px;
    padding: 5px;
    height: 20px;
    width: 300px;
    border-radius: 5px;
}

#city, #district {
    height: 30px;
}

.ngaysinh {
    border: solid 0.5px;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding: 5px;
    width: 100px;
}

.button {
    font-size: 15px;
    cursor: pointer;
    background: #00ff21;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}
.button:hover{
    background-color:#b6ff00
}
