
body {
    font-size: 20px;
}
#main p {
    line-height: 30px;
    width: 1000px;
}
.imgmember {
    margin-top: 52px;
    width: 100%;
}

.register {
    display:inline-block;
    border-radius:10px;
    padding: 10px;
    color:white;
    background-color: black;
    font-size: 25px;

}

    .register:hover {
        background-color: #f2bd3e;
    }

.imgcontent {
    margin: 10px;
}

#all{
    
    margin-bottom: 20px;
}

.register a {
    text-decoration: none;
    color: white;
}
