#all img {
    margin-top:55px;
}

#mainbody td:not(.header) img {
    width:300px;
    margin:0;
    padding:5px;
    background-color: #ffee93;
}
#mainbody p {
    margin: 3px 0px;
    text-align: center;
    transition: 0.5s ease;
    font-size:18px;
}
#mainbody td:not(.header){
    cursor:pointer;
    background-color: #f2bd3e;
}

#mainbody b {
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    color: black;
    transition: 1s ease;
}

#mainbody .btnmua {
    cursor: pointer;
    margin: 2px 70px 20px;
    border: 1px solid;
    
    padding: 5px 10px;
    font-size: 20px;
    transition: 0.5s ease;
    background-color: #ffee93;
}
    #mainbody td:hover .btnmua{
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        transform: scaleX(1.1) scaleY(1.1);
    }
#mainbody i {
    display: none
}



td .sidenav {
    height: 260px;
    width: 200px;
    position: sticky;
    top: 80px;
    background-color: #f2bd3e;
    overflow-x: hidden;
    padding: 5px 0px;
    vertical-align: top;
    border-radius:10px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size:20px;
        color: black;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

 .header{
    align-content:center;
    font-size:50px;
}
 
