body {
    margin-top:65px;
}
.maintable td{
    padding-left:20px;
}

#mainbody td img:hover {
    cursor: pointer;
    opacity: 0.5;
}
td .sidenav {
    height: 260px;
    width: 200px;
    position: sticky;
    top: 80px;
    background-color: #f2bd3e;
    overflow-x: hidden;
    padding: 5px 0px;
    vertical-align: top;
    border-radius:10px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size:20px;
        color: black;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

 .header{
    font-size:50px;
}
 #mainbody p{
     padding-left:60px;
 }
