#all img {
    margin-top:55px;
}
#mainbody hr {
    width: 200px;
    height: 3px;
    background-color: #f2bd3e;
}
#mainbody td img:hover {
    cursor: pointer;
    opacity: 0.5;
}
#mainbody td:not(.header) img {
    margin:0;
    padding:5px;
    background-color: #ffee93;
}
#mainbody td:not(.header){
    background-color: #f2bd3e;
}
td .sidenav {
    height: 260px;
    width: 200px;
    position: sticky;
    top: 80px;
    background-color: #f2bd3e;
    overflow-x: hidden;
    padding: 5px 0px;
    vertical-align: top;
    border-radius:10px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size:20px;
        color: black;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

 .header{
     align-content:center;
    font-size:50px;
}
 #mainbody p{
     margin:3px 0px;
     text-align:center;
 }
